.zoomIn {
  animation: btnZoomIn 1 1s;
}
@keyframes btnZoomIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.zoomOut {
  animation: btnZoomOut 1 1s;
}
@keyframes btnZoomOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
}
@keyframes light {
  0% {
    left: -24px;
  }
  100% {
    left: 160px;
  }
}
