@media (max-width: 996px) {
  .history .history-text h2 {
    font-size: 30px;
  }
  .around-contain .around-box h3 {
    font-size: 14px;
  }
  .around-contain .around-box span {
    font-size: 12;
  }
}
@media (max-width: 835px) {
  .links {
    display: block;
  }
  .links > ul {
    position: absolute;
    background-color: #fff;
    top: 63px;
    right: 10%;
    z-index: 2;
  }
  .links > ul::before {
    content: "";
    border-color: #f3f3f3 transparent transparent transparent;
    border-style: solid;
    border-width: 15px 12px 15px 15px;
    position: absolute;
    top: -27px;
    left: 135px;
    z-index: 2;
  }
  .links ul li {
    display: block;
    border-bottom: 1px solid #000;
    position: relative;
    background-color: #292929;
    color: #f3f3f3;
  }

  .links ul li ul {
    position: absolute;
    left: -120px;
    top: 5px;
    width: 120px;
    overflow: hidden;
  }

  .links .fa-bars {
    display: block;
    margin: auto;
    top: 15px;
  }
  .showhide {
    display: none !important;
  }
  .links button {
    position: relative;
    right: 50px;
    top: 10px;
  }
  .contain h2 {
    font-size: 40px;
  }
  .check .box-containt {
    padding-top: 20px;
  }
  .check-containt {
    width: 100px;
  }
  .rooms-info {
    flex-direction: column;
  }
  .rooms-info .left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .rooms-info .right img {
    width: 100%;
    padding-bottom: 10px;
  }
  .rooms-info .right img:nth-child(3),
  .rooms-info .right img:nth-child(4) {
    padding-bottom: 10px;
  }
  .map .information .container {
    display: block;
  }
  .map .info-box {
    padding-top: 35px;
    padding-bottom: 0;
  }
  .map .info-box:last-child {
    padding-bottom: 35px;
  }
}
@media (max-width: 765px) {
  .history .history-text h2 {
    padding-bottom: 0;
  }
  .history-text .text-contain {
    display: block;
  }
  .history-text .text-contain p {
    line-height: 1;
  }
  .history-text .text-contain p:first-child {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .card-container {
    display: block;
  }
  .card-container .card {
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
  }
  .card-container .card:last-child {
    margin: auto;
  }
  .around-contain {
    display: block;
  }
  .around-contain .around-box {
    margin-right: 0;
  }
}
@media (max-width: 570px) {
  .contain h2 {
    font-size: 30px;
  }
  .check {
    display: block;
  }
  .check-box-end {
    text-align: center;
  }
  .test-box {
    display: block;
  }
}
@media (max-width: 375px) {
  .logo {
    width: 150px;
    font-size: 10px;
  }
  .links {
    font-size: 10px;
  }
  .links > ul {
    top: 50px;
  }
  .links > ul::before {
    border-width: 10px 9px 10px 10px;
    position: absolute;
    top: -19px;
    left: 96px;
    z-index: 2;
  }
  .links button {
    width: 90px;
    margin-left: 0;
  }
  .contain h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }
  .check .check-box {
    font-size: 16px;
    flex: 1;
    display: block;
    flex-direction: column;
  }
  .check .box-containt {
    padding: 1px;
  }
  .check-containt {
    width: 75px;
    border-right: none;
    margin: auto;
  }
  .box-containt h4 {
    border-right: none;
  }
  .check .check-box-end {
    padding: 20px;
  }
  .history-text button {
    padding: 10px;
  }
  .map .info-box button {
    width: 140px;
    cursor: pointer;
  }

  .map .info-box button:last-child {
    background-color: #7e502b;
    width: 100px;
    left: 142px;
  }
}
