* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.special-h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px 0;
  font-weight: normal;
  text-transform: capitalize;
}
.overlay {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #333;
  opacity: 0.8;
}
/*Start header*/
.header {
  text-transform: capitalize;
  background-color: #262626;
  position: relative;
}
header {
  display: flex;
  justify-content: flex-end;
  background-color: #262626;
}
.logo {
  margin-right: auto;
  width: 200px;
  display: flex;
}
.logo i {
  color: #f3f3f3;
  padding-right: 10px;
  line-height: 50px;
}
.logo span {
  display: block;
  font-weight: bold;
  line-height: 50px;
  color: #f3f3f3;
  text-transform: uppercase;
}
.links {
  display: flex;
  transition: 0.5s;
}
.links ul {
  list-style: none;
  margin: auto;
  display: block;
  padding-left: 0px;
}
.links ul li {
  position: relative;
  display: inline-block;
  transition: 0.5s;
  color: #f3f3f3;
  padding-right: 15px;
}
.links ul li:hover {
  background-color: #f3f3f3;
  color: #000;
}
.links ul li:hover a {
  color: #000;
}
.links ul li a {
  text-decoration: none;
  color: #f3f3f3;
  display: inline-block;
  padding-left: 20px;
  line-height: 50px;
}
.links button {
  width: 110px;
  background-color: #f3f3f3;
  color: #000;
  border: none;
  height: 25px;
  margin: auto;
  margin-left: 50px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.links ul li ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
  position: absolute;
  top: 48px;
  z-index: 2;
  overflow: hidden;
}

.links ul li i:hover {
  cursor: pointer;
}
.links ul li ul li {
  background-color: #262626;
  display: none;
  width: 160px;
  color: #f3f3f3;
  border-bottom: 1px solid #fff;
}
.links ul li:hover ul li a {
  color: #f3f3f3;
}
.links ul li:hover ul li:hover a {
  color: #000;
}
.links ul li:hover ul li {
  display: block;
}
.links ul li ul li:first-child {
  animation: btnZoomIn 1 1.5s;
}
.links ul li ul li:nth-of-type(2) {
  animation: btnZoomIn 1 1.5s;
  animation-delay: 0.25s;
}
.links ul li ul li:nth-of-type(3) {
  animation: btnZoomIn 1 1.5s;
  animation-delay: 0.5s;
}
.links .fa-bars {
  position: absolute;
  right: 10%;
  line-height: 16px;
  color: #f3f3f3;
  display: none;
}
.links .fa-bars:hover {
  cursor: pointer;
}

/*end nav*/

.contain {
  color: #fff;
  background: url(../image/landing.jpg);
  background-size: cover;
  height: 100vh;
}
.contain h2 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.check {
  display: flex;
  justify-content: center;
}
.check .check-box {
  flex: 3;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
}
.check .box-containt {
  flex: 1;
  padding-top: 40px;
  text-align: center;
}
.box-containt h4 {
  font-size: 20px;
  padding-bottom: 10px;
  border-right: 1px solid #333;
  color: #555;
}
.box-containt:last-child h4 {
  border-right: none;
}
.check-containt {
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-right: 10px;
  border-right: 1px solid #333;
}
.box-containt:last-child .check-containt {
  border-right: none;
}
.check-containt .number {
  font-size: 50px;
  padding-right: 10px;
}
.check-containt .month {
  color: #555;
}
.check-containt .month i {
  padding-top: 10px;
  font-size: 30px;
}
.box-containt:last-child .check-containt .month i {
  padding-top: 0;
}
.check .check-box-end {
  flex: 1;
  background-color: #292929;
  color: #fff;
  padding: 40px;
}
/*end header*/

#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  border: 2px solid #333;
  border-radius: 50%;
  color: #333;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 1000;
}
#toTop:hover,
#toTop:focus {
  background-color: #333;
  color: #fff;
}

/*Start history*/

.history {
  display: flex;
}
.history .history-img {
  flex: 1;
  background-image: url(../image/bedRoom.jpg);
  background-size: cover;
}
.history .history-text {
  flex: 1;
  background-color: #000;
  padding-bottom: 60px;
}
.history .history-text h2 {
  font-size: 70px;
  color: #f3f3f3;
  padding: 50px 0;
}
.history-text .text-contain {
  display: flex;
}
.history-text .text-contain p {
  line-height: 1.5;
  flex: 1;
  color: #999;
}
.history-text .text-contain p:first-child {
  padding-right: 20px;
  padding-top: 25px;
}
.history-text button {
  background-color: #333;
  color: #f3f3f3;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/*End history*/

/*Start Rooms*/
.rooms {
  padding: 30px 0 60px;
  background-color: #ddd;
  text-align: center;
}
.rooms .container > span {
  width: 200px;
  display: block;
  margin: auto;
  text-transform: uppercase;
  position: relative;
  color: #999;
}
.rooms span::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  top: 30px;
  width: 50px;
  background-color: #292929;
  left: 70px;
}
.rooms-info {
  display: flex;
  justify-content: space-between;
}
.rooms-info .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: #f3f3f3;
}
.rooms-info .left img {
  width: 100%;
  height: 290px;
}
.rooms-info .left .info-image {
  text-align: left;
  padding: 30px 20px;
  color: #999;
}
.rooms-info .left .info-image h3 {
  color: #333;
  padding-bottom: 10px;
}
.rooms-info .left .info-image span {
  padding: 10px 10px 10px 0;
  display: inline-block;
}
.rooms-info .left .info-image p {
  line-height: 1.5;
  margin-bottom: 20px;
}
.rooms-info .left .info-image button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.rooms-info .right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rooms-info .right img {
  width: 45%;
  height: 50%;
  padding-bottom: 20px;
}
.rooms-info .right img:nth-child(3),
.rooms-info .right img:nth-child(4) {
  padding-bottom: 0;
}
/*End Rooms*/

/*Start service*/
.service {
  padding-bottom: 60px;
  background: linear-gradient(to left, #333, #16163a);
  background-size: cover;
}
.service h2 {
  color: #fff;
}
.card-container {
  display: flex;
}
.card-container .card {
  flex: 1;
  margin-right: 20px;
}
.card-container .card:last-child {
  margin-right: 0px;
}
.card-container .card .card-head {
  padding: 20px;
  background-color: #7e502b;
  color: #fff;
  text-transform: uppercase;
}
.card-container .card .card-head h4 {
  padding-bottom: 10px;
}
.card-container .card .card-head span {
  display: block;
  padding-bottom: 10px;
}
.card-container .card .card-head span:last-child {
  padding-top: 10px;
  color: #eee;
}
.card-container .card .card-body {
  padding: 20px;
  background-color: #eee;
}
.card-container .card .card-body span {
  display: block;
  color: #555;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}
.card-container .card .card-body button {
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #7e502b;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card-container .card .card-body button:before,
.history-text button:before,
.rooms-info .left .info-image button:before,
.links button:before {
  content: "";
  display: block;
  width: 20px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  transform: rotateZ(20deg);
  left: -29px;
  top: -10px;
}
.card-container .card .card-body button:hover:before,
.history-text button:hover:before,
.rooms-info .left .info-image button:hover:before,
.links button:hover:before {
  animation: light infinite ease-in-out 1s;
}
/*End service*/

/*Start Around the hotel*/
.around {
  margin-bottom: 60px;
}
.around-contain {
  display: flex;
  justify-content: space-between;
}

.around-contain .around-box {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.around-contain .around-box:last-child {
  margin-right: 0;
}
.around-contain .around-box .overlay {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.6;
}
.around-contain .around-box img {
  width: 100%;
  height: 250px;
}
.around-contain .around-box .part-info {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  transition: 1s;
}
.around-contain .around-box:hover .part-info {
  top: 100px;
}
.around-contain .around-box h3 {
  font-size: 16px;
}
.around-contain .around-box span {
  display: block;
  text-align: center;
  font-size: 13;
}
/*End Around the hotel*/

/*Start Testemonials*/
.testemonials {
  background: url(/image/plam.jpg);
  background-size: cover;
  padding-bottom: 60px;
  background-position: center;
}
.testemonials h2 {
  color: #fff;
}
.test-box {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 20px;
  background-color: #7e502b;
  color: #ddd;
  margin-bottom: 20px;
}
.test-box:nth-child(2n-1) {
  flex-direction: row-reverse;
}
.test-box .left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
.test-box:nth-child(2n-1) img {
  margin-right: 0;
  margin-left: 20px;
}
.test-box .right q {
  display: block;
  line-height: 1.5;
  margin-bottom: 20px;
}
.test-box .right h4 {
  padding-bottom: 10px;
}
.test-box:nth-child(2n-1) h4,
.test-box:nth-child(2n-1) span {
  display: block;
  text-align: right;
}
/*End Testemonials*/

/*Start Location*/
.map {
}
.map > h2 {
  background-color: #ccc;
}
.map .map-img {
  background: url(/image/map.jpg);
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center;
}
.map .information .container {
  display: flex;
}
.map .information {
  width: 100%;
  background-color: #292929;
  padding-bottom: 30px;
}
.map .info-box {
  flex: 1;
  padding: 35px 0;
  color: #fff;
  margin-right: 10px;
  position: relative;
}
.map .info-box h2 {
  padding-bottom: 10px;
  font-size: 30px;
  text-transform: uppercase;
}
.map .info-box span {
  display: block;
  color: #ccc;
  padding-bottom: 20px;
}
.map .info-box h2 i {
  padding-right: 5px;
  cursor: pointer;
}
.map .info-box button {
  border: none;
  padding: 10px 5px;
  position: absolute;
  background-color: #000;
  width: 180px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.map .info-box button:last-child {
  background-color: #7e502b;
  width: 100px;
  left: 170px;
}
footer {
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background-color: #333;
}
/*End Location*/
